body {
  background: lightcyan;
}

form {
  background-color: lavenderblush;
  border-radius: 25px;
  border: 1px solid;
  text-align: center;
  padding: 15px;
  width: 25%;
}

footer {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.titulo {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.form-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-group {
  padding-top: 3px;
}