{% extends 'base.html' %}

{% block content%}
<p>Bem vindo, {{ nome }}.<p>
<h2>Cadastrar</h2>

{% if grupoPessoas %}
<p><table>
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Password</th>
            <th>Telefone</th>
            <th>admin</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in grupoPessoas %}
        <tr>
            <td>{{ pessoa[0] }}</td>
            <td>{{ pessoa[1] }}</td>
            <td>{{ pessoa[2] }}</td>
            <td>{{ pessoa[3] }}</td>
            <td>{{ pessoa[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
{% else %}
<p>Não há pessoas.</p>
{% endif %}

<p>
<form action="{{ url_for('cadastroPessoa') }}" method="POST">
    {{ cadastro_pessoa.csrf_token }}
    <div class="form-group">
        <label>Nome</label>
        {{ cadastro_pessoa.nome() }}
        {% if cadastro_pessoa.errors.nome %}
        {{ cadastro_pessoa.errors.nome }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Senha</label>
        {{ cadastro_pessoa.password() }}
        {% if cadastro_pessoa.errors.password %}
        {{ cadastro_pessoa.errors.password }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Telefone</label>
        {{ cadastro_pessoa.telefone() }}
        {% if cadastro_pessoa.errors.telefone %}
        {{ cadastro_pessoa.errors.telefone }}
        {% endif%}
    </div>
    <div class="checkbox">
        <label>
            {{ cadastro_pessoa.admin }} admin
        </label>
    </div>
    <button type="submit">Cadastrar</button>
</form>
</p>

{% if grupoTarefas %}
<p><table>
    <thead>
        <tr>
            <th>id</th>
            <th>Tarefa</th>
            <th>id pessoa</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in grupoTarefas %}
        <tr>
            <td>{{ tarefa[0] }}</td>
            <td>{{ tarefa[1] }}</td>
            <td>{{ tarefa[2] }}</td>
            <td>{{ tarefa[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
{% else %}
<p>Não há tarefas.</p>
{% endif %}

<form action="{{ url_for('cadastroTarefa') }}" method="POST">
    {{ cadastro_tarefa.csrf_token }}
    <div class="form-group">
        <label>Tarefa</label>
        {{ cadastro_tarefa.tarefa() }}
        {% if cadastro_tarefa.errors.tarefa %}
        {{ cadastro_tarefa.errors.tarefa }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>ID Pessoa</label>
        {{ cadastro_tarefa.id_pessoa() }}
        {% if cadastro_tarefa.errors.id_pessoa %}
        {{ cadastro_tarefa.errors.id_pessoa }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Data</label>
        {{ cadastro_tarefa.data() }}
        {% if cadastro_tarefa.errors.data %}
        {{ cadastro_tarefa.errors.data }}
        {% endif%}
    </div>

    <button type="submit">Cadastrar</button>
</form>
</p>
<p><a href="{{ url_for('entrada') }}">Voltar</a></p>
{% endblock%}